<!doctype html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>I Derubati - Bevande</title>
		<meta name="description" content="My new wonderful website">
		<meta name="author" content="Mister X">
		<link rel="stylesheet" href=" /prodotti.css?v=1.1">
	</head>
	<body>
    	<header>
			<h1>Pizzeria I Derubati</h1>
			<h2>Le nostre Bevande</h2>
			<div class="buttons-container">
				<button class="action-btn" onclick="window.location.href='/menu'"> Menù </button>
				<button class="action-btn" onclick="window.location.href='/carrello'"> Carrello </button>
			</div>
    	</header>
    	<main>
        	<div id="products-container" data-tipo="bevanda"></div>
    	</main>
    	<script src="scriptProdotti.js"></script>
	</body>
</html>