<!doctype html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>I Derubati - Carrello</title>
		<meta name="description" content="My new wonderful website">
		<meta name="author" content="Mister X">
		<link rel="stylesheet" href="/css/carrello.css?v=1.1">
		<link rel="icon" type="image/png" href="/img/logo1-removebg.png">
	</head>
	<body>
	    <header>
	        <h1>Pizzeria I Derubati</h1>
			<h2>Carrello</h2>
			<button class="action-btn" onclick="window.location.href='/home'"> Home </button>
			<button class="action-btn" onclick="window.location.href='/menu'"> Menù </button>
	    </header>
	    <main>
			<h4 id="desc">Carrello vuoto!</h4>
	        <div id="products-container">
			</div>
			<div id="send-order">
				<button id="invia" class="action-btn" hidden>Invia Ordine</button>
				<h3 id="total"><h3>	
			</div>
	        
	    </main>
		<script src="/js/scriptCarrello.js"></script>
	</body>
</html>