<!doctype html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>I Derubati - Carrello</title>
		<meta name="description" content="My new wonderful website">
		<meta name="author" content="Mister X">
		<link rel="stylesheet" href=" /prodotti.css?v=1.1">
	</head>
	<body>
	    <header>
	        <h1>Pizzeria I Derubati</h1>
			<h2>Carrello</h2>
			<button class="action-btn" onclick="window.location.href='/'"> Home </button>
			<button class="action-btn" onclick="window.location.href='/menu'"> Menù </button>
	    </header>
	    <main>
	        <div id="products-container">
				
			</div>
	        <button id="invia" class="action-btn" hidden>Invia Ordine</button>
	    </main>
		<script src="scriptCarrello.js"></script>
	</body>
</html>