<!doctype html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Pizze</title>
		<meta name="description" content="My new wonderful website">
		<meta name="author" content="Mister X">
		<link rel="stylesheet" href=" /prodotti.css?v=1.1">
	</head>
	<body>
    	<header>
			<h1>Pizzeria I Derubati</h1>
			<h2>I nostri Dolci</h2>
			<div class="button-container">
				<button class="action-btn" onclick="window.location.href='/menu'"> Menù </button>
				<button class="action-btn" onclick="window.location.href='/carrello'"> Carrello </button>
			</div>
    	</header>
    	<main>
        	<div id="pizze" data-tipo="dolce"></div>
    	</main>
    <script src="scriptProdotti.js"></script>
</body>
	
	
</html>