<!doctype html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Pizze</title>
		<meta name="description" content="My new wonderful website">
		<meta name="author" content="Mister X">
		<link rel="stylesheet" href=" /prodotti.css?v=1.1">
	</head>
	<body>
    	<header>
			<h1>Derubati Menù</h1>
			<h2>I nostri Dolci</h2>
    	</header>
    	<main>
        	<a href="/">Home</a>
        	<div id="pizze" data-tipo="dolce"></div>
        	<a href="carrello">Vai al Carrello</a>
    	</main>
    <script src="scriptProdotti.js"></script>
</body>
	
	
</html>