<!doctype html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>I Derubati - HomePage</title>
		<meta name="description" content="My new wonderful website">
		<meta name="author" content="Mister X">
		<link rel="stylesheet" href=" /css/home.css?v=1.1">
		<link rel="icon" type="image/png" href=" /img/logo1-removebg.png">
	</head>
	
	<body>
    	<header>
			<img src="/img/logo1-removebg.png" alt="">
    	    <h1> I Derubati</h1>
			<h2> La pizzeria che ti deruba la fame!! </h2>
			<p>Una delle pizzerie con più personalizzazione. Tantissimi ingredienti e gusti tipici della zona. Affrettati a ordinare e se la pizza non ti arriva prima di  7min dopo l'invio dell'ordine avrai uno sconto del 50% in cassa!</p>
			<button class="action-btn" onclick="window.location.href='/menu'">  Ordina </button>
    	</header>
	</body>	
</html> 