<!doctype html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>I Derubati - HomePage</title>
		<meta name="description" content="My new wonderful website">
		<meta name="author" content="Mister X">
		<link rel="stylesheet" href=" /home.css?v=1.1">
	</head>
	
	<body>
    	<header>
    	    <h1> Benvenuto dai derubati </h1>
			<h2> Cosa ti va oggi? </h2>
			<!-- <h1>Pizzeria i DERUBATI</h1> -->
			<div class="button-container">
				<button class="action-btn" onclick="window.location.href='/menu'"> Menù </button>
				<button class="action-btn" onclick="window.location.href='/inventa-pizza'"> Pizza ideata da me! </button>
				<button class="action-btn" onclick="window.location.href='/carrello'"> Carrello </button>
			</div>
    	</header>
	<!--<script src="scriptHome.js"></script>-->
	</body>	
</html> 