<!doctype html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>I Derubati - ModSelection</title>
		<meta name="description" content="My new wonderful website">
		<meta name="author" content="Mister X">
		<link rel="stylesheet" href=" /index.css?v=1.1">
	</head>
	<body>
    	<header>
    	    <h1> "I Derubati" Mode </h1>
			<h2> Seleziona la modalità di uso </h2>
    	</header>
        <main>
            <button onclick="window.location.href='/ordini'">Cucina</button>
            <button onclick="window.location.href='/home'">Totem</button>
            <button onclick="window.location.href='/admin'">Administator</button>
        </main>
	</body>	
</html> 