<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>I Derubati - Menù</title>
		<meta name="description" content="My new wonderful website">
		<meta name="author" content="Mister X">
		<link rel="stylesheet" href=" /menu.css?v=1.1">
	</head>
<body>
	<header>
		<h1> I Derubati Menù </h1>
		<h2> Ecco cosa la casa ti offre...</h2>
		<div class="button-container" id="button-container"></div>
	</header>
	<script src="scriptMenu.js"></script>
</body>
</html>