<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizzeria - I Derubati</title>
</head>
<body>

    <h1>La nostra pizzeria</h1>
    
    <table>
        <tr>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Descrizione</th>
            <th>Immagine</th>
        </tr>
        
        <tr th:each="pizza : ${pizze}">
            <td th:text="${pizza.nome}"></td>
            <td th:text="${pizza.prezzo}"></td>
            <td th:text="${pizza.descrizione}"></td>
            <td><img style="width:50px;height:50px" th:src="@{${pizza.imgURL}}" alt="Immagine di [[${pizza.nome}]]"/></td>
        </tr>
    </table>

</body>
</html>
