<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizzeria - I Derubati</title>
    <link rel="stylesheet" th:href="@{/home.css}">
</head>
<body>

    <h1> Benvenuto dai derubati </h1>
	<h2> Cosa ti va oggi? </h2>
    
    <div class="button-container">
        <button class="action-btn" onclick="window.location.href='/pizze'"> Pizza Derubata </button>
        <button class="action-btn" onclick="window.location.href='/inventa-pizza'"> Pizza ideata da me! </button>
		<button class="action-btn" onclick="window.location.href='/bevande'"> Bibite e desserts </button>
 	</div>
    

</body>
</html>
