<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personalizza la tua Pizza</title>
    <link rel="stylesheet" th:href="@{/inventa-pizza.css}">
</head>
<body>

    <h1> È il momento di inventare la tua pizza! </h1>

    <div class="form-container">
        <label for="pizzaName"> Come la vuoi chiamare? </label>
        <input type="text" id="pizzaName" maxlength="20" placeholder="Inserisci nome pizza">
    </div>
    
    <div class="inventa-pizza-container">
        <p> Questa è la base: </p>
        <div class="pizza-wrapper">
            <img id="pizzaImg" src="https://media.istockphoto.com/id/1394152912/it/vettoriale/tortilla-di-pane-isolato-su-fondo-bianco-focaccia-tradizionale-rotonda-illustrazione.jpg?s=170667a&w=0&k=20&c=dc44BCsRMb-opkOmqYd4rZpR7mi1scdKPVJ9phgZCVo=" alt="Pizza Bianca">
        </div>
    </div>
    <h2> Cosa aggiungiamo? </h2>
    <div class="button-container">
        <button class="ingredient-btn" onclick="addIngredient('mozzarella')"> Mozzarella</button>
        <button class="ingredient-btn" onclick="addIngredient('pomodoro')"> Pomodoro</button>
        <button class="submit-btn" onclick="submitPizza()">Salva Pizza</button>
    </div>

    <script src="inventa-pizza.js"></script>

</body>
</html>


