<!doctype html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Carrello</title>
		<meta name="description" content="My new wonderful website">
		<meta name="author" content="Mister X">
		<link rel="stylesheet" href=" /styles.css?v=1.0">
	</head>
	<body>
	    <header>
	        <h1>Carrello</h1>
	    </header>
	    <main>
	        <a href="/">Home</a>
	        <p></p>
	        <a href="pizze">Le Nostre pizze</a>
	        <p></p>
	        <div id="carrello"> </div>
	        <button id="invia" class="action-btn">Invia Ordine</button>
	    </main>
		<script src="scriptCarrello.js"></script>
	</body>
</html>